@model ResultBlogByIdWithAuthorDto
<body>
    <!-- Blog Start -->
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-8">
                <!-- Blog Detail Start -->
                <div class="mb-5">
                    <img class="img-fluid w-100 rounded mb-5" src="@Model.BlogImgUrl" alt="">
                    <h1 class="mb-4">@Model.Title</h1>
                    <p>@Model.BlogDescription</p>
                    <section class="py-5">
                        <div class="container overflow-hidden bsb-author-1">
                            <div class="row justify-content-left gy-4 gy-md-0">
                                <div class="col-12 col-md-3 col-xl-2 d-flex align-items-center justify-content-center">
                                    <img class="img-fluid rounded-circle author-avatar" loading="lazy" src="@Model.AuthorImgUrl" alt="Img">
                                </div>
                                <div class="col-12 col-md-8 col-lg-6 col-xl-5 d-flex align-items-center justify-content-center">
                                    <div class="text-center text-md-start author-content">
                                        <h5 class="text-secondary fs-7">Blog Yazarı</h5>
                                        <h2 class="fs-3 mb-2">@Model.Name</h2>
                                        <p class="mb-1">@Model.Description</p>
                                        <p class="mb-0">
                                            @Model.CreatedDateTime.ToShortDateString()
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- Comment -->
                @await Component.InvokeAsync("_GetCommentByBlogIdViewComponentPartial", ViewBag.Id)
                <!-- Comment End -->

                <!-- Comment Form Start -->
                <div class="bg-light rounded p-5">
                    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-white mb-4">Yorum Yazın</h4>
                    @await Component.InvokeAsync("_GetCommentFormViewComponentPartial", ViewBag.Id)
                </div>
                <!-- Comment Form End -->
            </div>

            <!-- Sidebar Start -->
            <div class="col-lg-4">


                <!-- Search Form Start -->
                <div class="mb-2">
                    <div class="input-group">
                        <input id="searchKeyword" type="text" class="form-control p-3" placeholder="Keyword">
                    </div>
                </div>

               
                <div id="searchDropdown" style="display: none;">
                    <div class="list-group">
                     
                    </div>
                </div>
                <!-- Search Form End -->


                <!-- Category Start -->
                @await Component.InvokeAsync("_GetAllCategoryViewComponentPartial")

                <!-- Category End -->

                <!-- Recent Post Start -->
                @await Component.InvokeAsync("_GetRecentBlogsWithAuthorNdCategoryComponentPartial",ViewBag.Id)
                <!-- Recent Post End -->

                <!-- Image Start -->
                <div class="mb-5">
                    <img src="~/VivaLifeTemp/img/blog-1.jpg" alt="" class="img-fluid rounded">
                </div>
                <!-- Image End -->

                <!-- Tags Start -->
                @await Component.InvokeAsync("_GetTagsCloudViewComponentPartial", ViewBag.Id)
                <!-- Tags End -->

            </div>
            <!-- Sidebar End -->
        </div>
    </div>
    <!-- Blog End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
   @*  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> *@
    <!-- List Grup alanını Blog Search Result ile doldur-->
    @* <script>
        $(document).ready(function () {
            $('#searchKeyword').keyup(function () {
                var keyword = $(this).val().trim();
                if (keyword !== '') {
                    $.ajax({
                        url: '@Url.Action("GetBlogBySearchKeyword", "Blog")' + '?keyword=' + keyword,
                        type: 'GET',
                        success: function (response) {
                            var dropdownContent = $('#searchDropdown .list-group');
                            dropdownContent.empty(); 
                            if (response.length > 0) {
                                $.each(response, function (index, item) {
                                    
                                    var listItem = '<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">';
                                    listItem += '<div class="d-flex w-100 justify-content-between">';
                                    listItem += '<h5 class="mb-1">' + item.title + '</h5>';
                                    listItem += '<small>' + item.Name + '</small>'; //join ekle
                                    listItem += '</div>';
                                    listItem += '<p class="mb-1">' + item.description + '</p>';
                                    listItem += '<small>' + item.CreatedDateTime + '</small>'; 
                                    listItem += '</a>';
                                    dropdownContent.append(listItem);
                                });
                               
                                $('#searchDropdown').show();
                            } else {
                                
                                var noResultItem = '<a href="#" class="list-group-item list-group-item-action">';
                                noResultItem += 'Sonuç bulunamadı.';
                                noResultItem += '</a>';
                                dropdownContent.append(noResultItem);
                               
                                $('#searchDropdown').hide();
                            }
                        },
                        error: function (xhr, status, error) {
                            console.error(xhr.responseText);
                        }
                    });
                } else {
                    $('#searchDropdown').hide();
                }
            });
        });

    </script> *@



  @*   <!-- JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/VivaLifeTemp/lib/easing/easing.min.js"></script>
    <script src="~/VivaLifeTemp/lib/waypoints/waypoints.min.js"></script>
    <script src="~/VivaLifeTemp/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/VivaLifeTemp/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/VivaLifeTemp/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/VivaLifeTemp/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/VivaLifeTemp/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/VivaLifeTemp/js/main.js"></script> *@
</body>

